@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Sucesso = ViewData["Sucesso"];
}

@section Scripts {
    @RenderSection("Scripts", required: false)
}

@section CssAdicional{
    @RenderSection("CssAdicional", required: false)
}

<div class="page-header">
    <h2>
        <strong>
            @ViewBag.Titulo
        </strong>
    </h2>
</div>

<div class="panel panel-default">
    <div class="panel-body">
        @Html.AntiForgeryToken()
        @RenderSection("Formulario", required: true)
    </div>        
    <div class="panel-footer">
        <button class="btn btn-success"
                type="button"                                            
                id="btnSalvar">
            <i class="fa fa-floppy-o" aria-hidden="true"></i> Salvar
        </button>                            
    </div>
</div>